global
    user haproxy
    group haproxy
defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms
frontend kubernetes
    bind 192.168.234.111:6443
    option tcplog
    log ${LOCAL_SYSLOG}:514 local0 notice
    mode tcp
    default_backend kubernetes-master-nodes
backend kubernetes-master-nodes
    mode tcp
    balance roundrobin
    option tcp-check
    server k8s-master-1 192.168.234.115:6443 check fall 3 rise 2
    server k8s-master-2 192.168.234.116:6443 check fall 3 rise 2
